@import "../../styles/sass/variables";

.homeContainer {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 10%;
  .errorContainer {
    text-align: center;
    color: $principal-color;
    margin: 70px auto;
    max-width: 356px;
    font-size: 35px;
  }
}

.homeContainer::after {
  content: "";
  height: 100vh;
  width: 1px;
  position: fixed;
  left: 50%;
  top: 0;
  background: $line-color;
}

@media (min-width: $large-bp) {
  .homeContainer {
    padding: 0 $white-layout-space;
  }
}
