.appContainer {
  background: rgb(164, 161, 159);
  background: radial-gradient(
    circle,
    rgba(164, 161, 159, 1) 0%,
    rgba(100, 96, 93, 1) 100%
  );
  height: 100vh;
  width: 100vw;
  position: absolute;
}
