@import "../../styles/sass/mixins";
@import "../../styles/sass/variables";

.layoutContainer {
  @include backgroundGradient;
  display: flex;
  flex-direction: column;
}

@media (min-width: $small-bp) {
  .layoutContainer {
    width: 100vw;
    height: 100vh;
  }
}
